@media (max-width: 900px) {
    .contacts {
        height: 70vh;
    }

    .about {
        height: 70vh;
    }
}

@media (max-width: 690px) {
    .slider .slick-arrow {
        width: 4rem;
        height: 4rem;
    }

    .slider .slick-arrow.slick-prev {
        left: -5rem;
    }

    .slider .slick-arrow.slick-next {
        right: -5rem;
    }
}

@media (max-width: 680px) {
    .contact-list {
        margin: 0;
    }

    .card p {
        font-size: 1rem;
    }
}

@media (max-width: 660px) {
    .service {
        flex-direction: column;
        height: auto;
    }

    .service-header {
        margin-bottom: 1rem;
    }

    .slider {
        margin-bottom: 2rem;
    }

    .card {
        margin-bottom: 2rem;
        height: auto;
        width: 50%;
    }

    .contact-list a,
    p {
        font-size: 1.2rem;
    }
}


@media (max-width: 530px) {
    .slider .slick-arrow {
        width: 3rem;
        height: 3rem;
    }

    .slider .slick-arrow.slick-prev {
        left: -3.5rem;
    }

    .slider .slick-arrow.slick-next {
        right: -3.5rem;
    }
}

@media (max-width: 500px) {

    .contact,
    .about {
        height: 50vh;
    }
}

@media (max-width: 485px) {
    html {
        font-size: 8px;
    }

    svg {
        width: 70px;
    }

    .to_contact {
        line-height: 30px;
    }

    .main-text {
        margin-top: 16rem;
    }
}

@media (max-width: 350px) {
    .contact-list {
        margin-left: 1.7rem;
    }
}

@media (max-width: 315px) {
    .about-text p {
        font-size: 1rem;
    }

    .about-text {
        margin-right: 15%;
    }
}

@media (max-width: 305px) {
    .card {
        width: 70%;
    }

    .contact-list {
        margin-left: 2.5rem;
    }
}