@media (max-width: 690px) {
    .slider .slick-arrow {
        width: 4rem;
        height: 4rem;
    }

    .slider .slick-arrow.slick-prev {
        left: -5rem;
    }

    .slider .slick-arrow.slick-next {
        right: -5rem;
    }
}

@media (max-width: 530px) {
    .slider .slick-arrow {
        width: 3rem;
        height: 3rem;
    }

    .slider .slick-arrow.slick-prev {
        left: -3.5rem;
    }

    .slider .slick-arrow.slick-next {
        right: -3.5rem;
    }
}

@media (max-width: 485px) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 485px) {
    .main-text {
        margin-top: 16rem;
    }
}