@media(min-width: 1500px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 900px) {

    .contacts,
    .about {
        height: 70vh;
    }
}

@media(max-width:1060px) {
    .service {
        flex-direction: column;
        height: auto;
    }

    .service-header {
        margin-bottom: 1rem;
    }

    .slider {
        margin-bottom: 2rem;
    }

    .card {
        margin-bottom: 2rem;
        height: auto;
        width: 50%;
    }

    .contact-list {
        margin-left: 0;
    }
}

@media (max-width: 760px) {
    .about-text {
        max-width: 60%;
        margin-right: 25%;
    }
}

@media (max-width: 690px) {
    .slider .slick-arrow {
        width: 4rem;
        height: 4rem;
    }

    .slider .slick-arrow.slick-prev {
        left: -5rem;
    }

    .slider .slick-arrow.slick-next {
        right: -5rem;
    }
}

@media (max-width: 680px) {


    .card p {
        font-size: 1rem;
    }
}

@media (max-width: 660px) {
    .contact-list {
        margin-left: 15%;
    }
}

@media (max-width: 600px) {
    .about-text p {
        font-size: 1rem;
    }

    .video,
    .slider {
        height: 50vh;
    }
}

@media (max-width: 530px) {
    .slider .slick-arrow {
        width: 3rem;
        height: 3rem;
    }

    .slider .slick-arrow.slick-prev {
        left: -3.5rem;
    }

    .slider .slick-arrow.slick-next {
        right: -3.5rem;
    }
}

@media (max-width: 500px) {

    .contacts,
    .about {
        height: 60vh;
    }
}

@media (max-width: 485px) {
    html {
        font-size: 8px;
    }

    svg {
        width: 70px;
    }

    .to_contact {
        line-height: 30px;
    }

    .main-text {
        margin-top: 16rem;
    }

    .about-img {
        height: 50%;
        width: 45%;
    }
}

@media (max-width: 450px) {
    .contact-img {
        width: 50%;
        height: 50%;
    }



}

@media (max-width: 362px) {
    .about-text {
        margin-right: 15%;
        max-width: 70%;
    }
}

@media (max-width: 350px) {

    .contact-list a,
    .contact-list p {
        font-size: 1rem;
    }

    .contact-list {
        margin-left: 20%;
    }
}

@media (max-width: 315px) {
    .about-text p {
        font-size: 1rem;
    }

    .about-text {
        margin-right: 15%;
    }


}

@media (max-width: 305px) {
    .card {
        width: 70%;
    }



    .about-text p {
        font-size: 0.8rem;
    }
}